body {
  background-color: #D1DEDE;
}

.navbar {
  background-color: #C58882;
  border-color: #C58882;
  color: #706677;
}

.navbar-brand {
  color: #706677;
  font-weight: bold;
  font-size: 180%;
}

.navbar-default .navbar-nav li a {
    color: #706677;
    font-weight: bolder;
}

/*.navbar-default .navbar-brand {
    color: #706677;
}*/

.text-success {
  color: beige;
  font-family: "Iowan Old Style";
  font-size: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.carousel-inner p {
  font-size: 300%;
}

.product_details li {
  text-decoration: none;
}

.product img {
  width: 100%;
}

.product a {
  font-size: 100%;
  color: #706677;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
  color: #706677;
  margin: 3%;
  font-size: 400%;
}

.table tbody tr td {
  vertical-align: middle;
}

/*.table tfoot td {
  display: block;
}

.table tfoot td .btn {
  display: block;
}*/

.table tfoot tr td {
  vertical-align: middle;
}

.table cart tbody td .form-control {
  width: 20%;
  display: inline;
}



/*.actions .btn {
	width:36%;
	margin:1.5em 0;
}

.actions .btn-info {
  float: left;
}

.actions .btn-danger {
	float:right;
}*/
